* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  display: flex;
  width: max-content;
  max-width: 1800px;
  height: 600px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  backdrop-filter: blur(10px);
  margin: 80px 0px 0px 300px;
}

.login-section,
.signup-section {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-section {
  background-color: rgba(255, 255, 255, 0.9);
}
.login-content img {
  width: 100px;
  height: 100px;
}

.signup-section {
  background: linear-gradient(135deg, #38ef7d, #11998e);
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

h2 {
  font-size: 28px;
  margin-bottom: 20px;
  font-weight: 600;
}

p {
  font-size: 16px;
  margin-bottom: 30px;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 350px;
}

input {
  padding: 15px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 14px;
  background-color: #f9f9f9;
}
.forgot {
  text-align: flex-end;
  color: black;
  margin: 0px 0px 10px 180px;
}
.forgot:hover {
  color: #3498db;
  text-decoration: underline;
}
a {
  text-decoration: none !important;
}
input:focus {
  outline: none;
  border-color: #1abc9c;
  box-shadow: 0 0 8px rgba(26, 188, 156, 0.2);
}

.login-btn {
  padding: 15px 19px;
  background-color: #1abc9c;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-btn:hover {
  background-color: #16a085;
}

.social-login {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  gap: 50px;
}

.social-btn {
  width: 50px;
  height: 50px;
  background-color: #ddd;
  border: none;
  border-radius: 50%;
  font-size: 20px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
}

.fb {
  background-color: #3b5998;
}
.fb:hover {
  background-color: blue;
}
.google {
  background-color: #dd4b39;
}
.google:hover {
  background-color: red;
}

.signup-btn {
  padding: 15px 40px;
  background-color: white;
  color: #11998e;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.signup-btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
}

.signup-content,
.login-content {
  text-align: center;
}

.logo {
  width: 100px;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    height: auto;
  }

  .login-section,
  .signup-section {
    width: 100%;
  }
}
